.navbar1-wrapper {
    display: contents;
  }
  .navbar1-container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: var(--dl-color-theme-neutral-light);
  }
  .navbar1-navbar-interactive {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .navbar1-image1 {
    height: 3rem;
  }
  .navbar1-desktop-menu {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .navbar1-links1 {
    gap: var(--dl-space-space-twounits);
    top: -11px;
    flex: 1;
    left: 45px;
    width: 862px;
    display: flex;
    position: absolute;
    align-self: stretch;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .navbar1-link11 {
    text-decoration: none;
  }
  .navbar1-link21 {
    text-decoration: none;
  }
  .navbar1-link22 {
    text-decoration: none;
  }
  .navbar1-buttons1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .navbar1-burger-menu {
    display: none;
  }
  .navbar1-icon10 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .navbar1-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: var(--dl-space-space-twounits);
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dl-color-theme-neutral-light);
  }
  .navbar1-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .navbar1-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .navbar1-logo {
    height: 3rem;
  }
  .navbar1-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar1-icon12 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .navbar1-links2 {
    gap: var(--dl-space-space-unit);
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .navbar1-link12 {
    text-decoration: none;
  }
  .navbar1-link23 {
    text-decoration: none;
  }
  .navbar1-link3 {
    text-decoration: none;
  }
  .navbar1-link4 {
    text-decoration: none;
  }
  .navbar1-link5 {
    text-decoration: none;
  }
  .navbar1-buttons2 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: row;
  }
  .navbar1-icon-group {
    gap: var(--dl-space-space-twounits);
    display: flex;
  }
  .stats-fragment15 {
    display: contents;
  }
  .stats-text15 {
    display: inline-block;
  }
  .stats-fragment17 {
    display: contents;
  }
  .stats-text17 {
    display: inline-block;
  }
  .stats-fragment11 {
    display: contents;
  }
  .stats-text11 {
    display: inline-block;
  }
  .stats-fragment10 {
    display: contents;
  }
  .stats-text10 {
    display: inline-block;
  }
  .stats-fragment13 {
    display: contents;
  }
  .stats-text13 {
    display: inline-block;
  }
  .stats-fragment12 {
    display: contents;
  }
  .stats-text12 {
    display: inline-block;
  }
  .stats-fragment16 {
    display: contents;
  }
  .stats-text16 {
    display: inline-block;
  }
  .stats-fragment14 {
    display: contents;
  }
  .stats-text14 {
    display: inline-block;
  }
  .navbar1root-class-name {
    top: 0px;
    left: 0px;
    position: static;
    align-self: center;
    background-color: #05062d;
  }
  .navbar1root-class-name1 {
    top: 0px;
    left: 0px;
    position: static;
    align-self: center;
    background-color: #05062d;
  }
  @media(max-width: 767px) {
    .navbar1-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .navbar1-desktop-menu {
      display: none;
    }
    .navbar1-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media(max-width: 479px) {
    .navbar1-navbar-interactive {
      padding: var(--dl-space-space-unit);
      padding-right: 16px;
    }
    .navbar1-mobile-menu {
      padding: var(--dl-space-space-unit);
    }
  }
  
  .footer3-wrapper {
    display: contents;
  }
  .footer3-footer4 {
    gap: 80px;
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--dl-space-space-twounits);
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
  }
  .footer3-max-width {
    gap: var(--dl-space-space-threeunits);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer3-content {
    gap: 32px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .footer3-links {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
  }
  .footer3-credits {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
  }
  .footer3-row {
    gap: 24px;
    display: flex;
    align-items: flex-start;
  }
  .footer3-footer-links {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
  }
  .stats-fragment19 {
    display: contents;
  }
  .stats-text59 {
    display: inline-block;
  }
  .stats-fragment20 {
    display: contents;
  }
  .stats-text60 {
    display: inline-block;
  }
  .stats-fragment18 {
    display: contents;
  }
  .stats-text58 {
    display: inline-block;
  }
  @media(max-width: 767px) {
    .footer3-content {
      flex-direction: column;
    }
    .footer3-row {
      flex-direction: column;
    }
    .footer3-footer-links {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
  @media(max-width: 479px) {
    .footer3-max-width {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .footer3-content {
      width: 100%;
    }
    .footer3-links {
      width: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  .stats-container1 {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .stats-fragment10 {
    display: contents;
  }
  .stats-text10 {
    display: inline-block;
  }
  .stats-fragment11 {
    display: contents;
  }
  .stats-text11 {
    display: inline-block;
  }
  .stats-fragment12 {
    display: contents;
  }
  .stats-text12 {
    display: inline-block;
  }
  .stats-fragment13 {
    display: contents;
  }
  .stats-text13 {
    display: inline-block;
  }
  .stats-fragment14 {
    display: contents;
  }
  .stats-text14 {
    display: inline-block;
  }
  .stats-fragment15 {
    display: contents;
  }
  .stats-text15 {
    display: inline-block;
  }
  .stats-fragment16 {
    display: contents;
  }
  .stats-text16 {
    display: inline-block;
  }
  .stats-fragment17 {
    display: contents;
  }
  .stats-text17 {
    display: inline-block;
  }
  .stats-text18 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .stats-text19 {
    color: rgb(203, 203, 203);
    min-width: var(--dl-size-size-maxwidth);
    text-align: center;
    padding-bottom: var(--dl-space-space-unit);
  }
  .stats-profiles {
    width: 100%;
    height: 329px;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .stats-profile {
    width: 80%;
    max-width: 850px;
    height: auto;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    align-items: flex-start;
    border-color: #8e8e8e;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-imageradius);
    flex-direction: row;
  }
  .stats-image {
    width: var(--dl-size-size-medium);
    padding: 4px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
  }
  .stats-text25 {
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding-left: 4px;
    flex-direction: column;
  }
  .stats-heading {
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
  }
  .stats-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .stats-container2 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .stats-text26 {
    fill: #cbcbcb;
    color: #cbcbcb;
    padding: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .stats-text27 {
    padding: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .stats-container3 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .stats-text28 {
    color: #cbcbcb;
    padding: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .stats-text29 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
    padding: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .stats-container4 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .stats-text30 {
    color: #cbcbcb;
    padding: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .stats-text31 {
    padding: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .stats-container5 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .stats-text32 {
    color: #cbcbcb;
    padding: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .stats-text33 {
    padding: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .stats-container6 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .stats-text46 {
    color: #cbcbcb;
    padding: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .stats-text47 {
    padding: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .stats-text51 {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .stats-text55 {
    text-decoration: underline;
  }
  .stats-container7 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .stats-text56 {
    color: #cbcbcb;
    padding: 2px;
    font-size: 14px;
    align-self: stretch;
    font-style: normal;
    text-align: left;
    font-weight: 300;
  }
  .stats-text57 {
    padding: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .stats-fragment18 {
    display: contents;
  }
  .stats-text58 {
    display: inline-block;
  }
  .stats-fragment19 {
    display: contents;
  }
  .stats-text59 {
    display: inline-block;
  }
  .stats-fragment20 {
    display: contents;
  }
  .stats-text60 {
    display: inline-block;
  }
  @media(max-width: 479px) {
    .stats-profiles {
      width: 100%;
    }
    .stats-profile {
      width: 80%;
    }
  }
  
 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  display: block;
  background-color: #030527;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  max-width: 850px;
  margin: auto;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #020314;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #fff;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
